<div ngbDropdown class="dropdown position-relative">
  <!-- Authenticated User -->
  <ng-container *ngIf="isAuthenticated$ | async; else loginButton">
    <button 
      class="btn btn-link text-decoration-none d-flex align-items-center gap-2 text-dark no-caret" 
      type="button" 
      ngbDropdownToggle
      aria-expanded="false"
    >
      <ng-container *ngIf="(user$ | async) as user">
        <ng-container *ngIf="user.picture; else avatarPlaceholder">
          <img [src]="user.picture" [alt]="user.name || 'User'" class="rounded-circle object-fit-cover" style="width: 32px; height: 32px;" />
        </ng-container>
        <ng-template #avatarPlaceholder>
          <div class="avatar-placeholder rounded-circle bg-secondary d-flex align-items-center justify-content-center" 
               style="width: 32px; height: 32px;">
            <i class="bi bi-person text-white fs-6"></i>
          </div>
        </ng-template>
      </ng-container>
    </button>
    <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end shadow-sm">
      <li *ngFor="let item of menuItems" [class.d-lg-none]="item.mobileOnly">
        <button 
          class="dropdown-item d-flex align-items-center gap-2" 
          type="button"
          ngbDropdownItem
          (click)="onItemClick(item)"
        >
          <i *ngIf="item.icon" [class]="item.icon"></i>
          {{ item.label }}
        </button>
      </li>
    </ul>
  </ng-container>

  <!-- GitHub Login Button -->
  <ng-template #loginButton>
    <button 
      class="btn btn-dark btn-sm" 
      type="button"
      (click)="authService.loginWithProvider('github')"
    >
      <i class="bi bi-github me-1"></i>
      <span class="d-none d-md-inline">Login with GitHub</span>
    </button>
  </ng-template>
</div> 