<div ngbDropdown class="dropdown position-relative">
  <button 
    class="btn btn-link text-decoration-none d-flex align-items-center gap-2 text-dark" 
    type="button" 
    ngbDropdownToggle
    aria-expanded="false"
  >
    <div class="avatar-placeholder rounded-circle bg-secondary d-flex align-items-center justify-content-center" 
         style="width: 32px; height: 32px;">
      <i class="bi bi-person text-white fs-6"></i>
    </div>
    <span class="d-none d-md-inline">User</span>
  </button>
  <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-end shadow-sm">
    <li *ngFor="let item of menuItems" [class.d-lg-none]="item.mobileOnly">
      <button 
        class="dropdown-item d-flex align-items-center gap-2" 
        type="button"
        ngbDropdownItem
        (click)="onItemClick(item)"
      >
        <i *ngIf="item.icon" [class]="item.icon"></i>
        {{ item.label }}
      </button>
    </li>
  </ul>
</div> 